*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

body{
color:white;
background-size:cover;
background-attachment:fixed;
}

header{
background:rgba(0,0,0,0.7);
text-align:center;
padding:20px;
}

nav{
background:black;
text-align:center;
padding:10px;
}

nav a{
color:white;
text-decoration:none;
margin:15px;
font-size:18px;
}

nav a:hover{
color:red;
}

.container{
background:rgba(0,0,0,0.6);
margin:40px;
padding:20px;
border-radius:10px;
}

img{
width:100%;
max-width:400px;
border-radius:10px;
margin-top:15px;
}

table{
width:100%;
margin-top:20px;
border-collapse:collapse;
}

table,th,td{
border:1px solid white;
padding:10px;
text-align:center;
}

/* Responsive Design */

@media (max-width:768px){

nav a{
display:block;
margin:10px;
}

.container{
margin:20px;
}

img{
max-width:100%;
}

}
